/*Polices :
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Serif', serif;
*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  margin-right: 10%;
  margin-left: 10%;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 10;
  width: 100%;

  margin-right: -10%;
  margin-left: -10%;
}

nav p {
  color: rgb(35, 35, 35);
  margin-left: 10%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

header h1 {
  font-family: "PT Serif", serif;
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.counter {
  width: 300px;
  text-align: right;
}

.previous-div {
  margin-bottom: 50px;
}

.previous-div h2 {
  font-size: 22px;
  color: rgb(50, 50, 50);
  margin-top: -5px;
  margin-bottom: 30px;
}

.previous-div button {
  background-color: rgb(50, 50, 50);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  transition: 0.3s;
}

.previous-div button:hover {
  cursor: pointer;
  transform: rotate(-1deg);
}

.previous-div button:active {
  transform: rotate(-1deg) scale(0.98);
}

.previous-div button i {
  margin-right: 8px;
  transition: 0.3s;
}

.description {
  margin-bottom: 25px;
  width: 75%;
  text-align: justify;
}

.wiki-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;

  animation-name: fade-in;
  animation-duration: 0.3s;
  transition: 0.3s;
  margin-bottom: 50px;
}

.wiki-links section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100px;
  width: 300px;

  border-radius: 2px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.wiki-links section:hover {
  cursor: pointer;
  transform: scale(0.98) rotate(1deg);
}

.wiki-links section:active {
  transform: scale(0.95);
}

.wiki-links section p {
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;

  margin-top: -20px;
  margin-right: -10%;
  margin-left: -10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.3s;

  animation-duration: 1.5s;
  animation-name: clignotement;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.victory-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 90vh;
}

.victory-div h1 {
  font-family: "PT Serif", serif;
  font-size: 55px;
  margin: 0;
}

.victory-div h2 {
  margin-top: 5px;
  font-size: 22px;
  color: rgb(50, 50, 50);
}

.hide {
  opacity: 0;
  z-index: -1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes clignotement {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
